.FacultiesPlaying
{
    margin-top: 15%;
    padding-bottom: 13%;
}
.FacultiesPage
{
    display: flex;
    justify-content: space-between;
}
.FacultyPreview
{
    margin-top: 5%;
    padding: 8% 5%;
    border-radius: 15px;
    width: 37%;
    box-shadow: 0px 0px 15px 1px rgb(197, 197, 197);
}
.FacultyPreview h2
{
    text-align: center;
    font-weight: 400;
}
.facultyLogo
{
    padding-left: 5%;
    width: 90%;
}
.pagination
{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-top: 10%;
    margin-left: 30%;
}
.arrow
{
    cursor: pointer;
    margin-top: 5%;
    width: 10%;
}
.pageNumb
{
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 6% 10%;
    border-radius: 19rem;
}
.selected
{
    background-color: #5a1024;
    color: white;
}