h2
{
    text-align: center;
}
.cornerCircle
{
    width: 10%;
}
.scheduleHead
{
    margin: 7% 0;
    display: flex;
    justify-content: space-between;
}
.date
{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.date p{
    width: 85%;
}
.calendar
{
    padding-top: 3%;
    width: 10%;
}
.calendarImage
{
    width: 90%;
}
.arr
{
    width: 25%;
    padding-bottom: 5%;
}
.arrowImg
{
    width: 100%;
}
.filterButt
{
    border-radius: 6px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 15%;
    padding: 2% 4%;
}
.session
{
    margin-top: 15%;
    color: #5a1024;
}
.FiltersSelection h4
{
    color: rgb(82, 82, 82);
}
.filterHead
{
    text-align: center;
}
.filterTitle
{
    margin: 5% 0;
    padding-bottom: 2%;
    border-bottom: solid;
    border-color: gray;
    border-width: 1px;
}
.option
{
    align-items: center;
    display: flex;
    justify-content: left;
    width: 33.3%;
}
.option input
{
    margin-right: 5%;
}