.FiltersSelection
{
    background-color: white;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px rgb(236, 236, 236);
}
h2
{
    text-align: center;
}
.cornerCircle
{
    width: 10%;
}
.scheduleHead
{
    margin: 7% 0;
    display: flex;
    justify-content: space-between;
}
.date
{
    align-items: center;
    display: flex;
    width: 70%;
}
.date p{
    width: max-content;
    margin-right: 5%;
}
.calendar
{
    padding-top: 1.5%;
    width: 10%;
}
.calendarImage
{
    width: 90%;
}
.arr
{
    width: 25%;
    padding-bottom: 5%;
}
.arrowImg
{
    width: 100%;
}
.filterButt
{
    border-radius: 6px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 15%;
    padding: 2% 4%;
}
.session
{
    margin-top: 15%;
    margin-bottom: 5%;
    color: #5a1024;
}
.sessionForm
{
    margin-top: 80%;
}
.FiltersSelection h4
{
    color: rgb(82, 82, 82);
}
.filterHead
{
    text-align: center;
}
.filterTitle
{
    padding: 5% 0;
    margin-bottom: 0;
    padding-bottom: 2%;
    border-bottom: solid;
    border-color: gray;
    border-width: 1px;
}
.option
{
    margin-top: 4%;
    align-items: center;
    display: flex;
    justify-content: left;
    width: 33.3%;
}
.option input
{
    margin-right: 5%;
}
.swiper
{
    padding: 0 10%;
}
.swiper-button-prev::after{
    font-size: 20px !important;
}
.swiper-button-next::after{
    font-size: 20px !important;
}
.iconFilter
{
    margin-top: 35%;
    text-align: center;
    width: 100%;
    cursor: pointer;
}
.SportIcon
{
    width: 6vmax;
    height: 6vmax;
}
.icon
{
    width: 60%;
    padding: 7%;
}
.iconImage
{
    margin-left: 0%;
    margin-bottom: 10%;
    padding: 5%;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 0px 0px 20px 10px rgb(235, 235, 235);
}
.selectedIcon
{
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    border-color: #c2c2c2;
}