.MobileView
{
  display: none;
}
.DesktopView
{
  display: block;
}
.image{
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
}
.sectionTitle
{
  color: #5a1024;
  border-bottom: solid;
  border-width: 1px;
  border-color: #5a102454;
  padding: 2% 0%;
  margin-bottom: 5%;
}




/* Mobile Version: 0px - 420px */
@media (max-width: 420px)
{
  h1
  {
    font-size: 32px;
  }
  h2
  {
    font-size: 25px;
  }
  p{
    font-size: 15px;
  }
  .MobileView
  {
    display: block;
  }
  .DesktopView
  {
    display: none;
  }
}